body {
margin-top:50px;
}
.bnav {
position: fixed;
top: 0;
left: 0;
width: 100%;
font-family: sans-serif;
font-size: 13px
color:#333333;
background:#dddddd;
border-top: 1px sold #cccccc;
}
.bnav__item {
position: relative;
padding: 10px;
float: left;
outline: none;
display: block;
}
.bnav__item--right {
float: right;
}
.bnav__item--clickable{
cursor: pointer;
}
.bnav__item--clickable:focus {
background: #808B96;
}
.bnav__link {
color: #4f6577;
}
.bnav__item:focus > .bnav__submenu{
display: block;
}
.bnav__link--full-width{
display: block;
text-decoration:none;
}
.bnav__submenu{
position: absolute;
top: calc(100%);
right: 0;
margin: 0;
padding: 5px 0;
min-width: 250px
background: #E1C8FF;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
display: none;
}
.bnav__submenuitem{
background: #E1C8FF;
list-style-type: none;
padding: 5px 8px;
}
.bnav__submenuitem:hover{
background: #FF5733;
}


