<!DOCTYPE html>
<html smlns:th="http://thymeleaf.org" xmlns:smlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Context-Type" content="text/html" charset="UTF-8">
    <title>Edit Item</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header-black"></header>
<div class="container mt-5 mb-5">
    <h1>EDIT an item</h1>
    <div th:each="post : ${singlePostItem}">
        <form method="post">
            <h5>Post description</h5>
            <input type="text" th:value="${post.description}" name="description" placeholder="255char max"
                   class="form-control"><br>
            <h5>Post text</h5>
            <input type="text" th:value="${post.postText}" name="postText" placeholder="should hold 64k characters"
                   class="form-control"><br>
            <h5>Current Status</h5>
            <input type="text" th:value="${post.status}" name="status" placeholder="255char max"
                   class="form-control"><br>
            <button type="submit" class="btn btn-success">Save dx</button>

            <div class="col-sm-12 d-flex justify-content-center">
                <span><a class="btn custom-smile-btn-back mr-1 ml-1" onclick="history.go(-1)"><span class="icon"> <i
                 class="fas fa-angle-double-left mr-2"></i></span><span
                 class="text">Previous Page/Back</span></a></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>