<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <title>Project Tracker - Items</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
<div>
    <header th:insert="blocks/header-black"></header>
    <h1>Project Tracker with Spring Boot</h1>
</div>

<div th:each="post:${postItems}" class="list-group w-auto">

<a th:href="'/item-details/' + ${post.id}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 th:text="${post.id} + '. '+${post.description}" class="mb-0">Created Date</h6>
            <p th:text="'created: '+ ${post.dateCreated}" class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
        </div>
        <small class="opacity-50 text-nowrap">[x]</small>
    </div>
</a>
</div>
</body>